:root {
    --primary-white-color: #ffffff;
    --secondary-white-color: #F4F4FD;
    --primary-black-color: #2E2F42;
    --secondary-black-color: #434455;
    --gray-color: #8E8F99;
    --primary-brand-color: #4D5AE5;
    --secondary-brand-color: #404BBF;
    --primary-accent-color: #E7E9FC;
    --green-color: #31d0aa;
    --font-family: "Roboto", sans-serif;
}

body {
    background-color: var(--primary-white-color);
    font-family: "Roboto", sans-serif;
    color: var(--secondary-black-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin: 0;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

button,
label {
    cursor: pointer;
}

.link {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header {
    border: 1px solid var(--primary-accent-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo {
    font-family: "Raleway", sans-serif;
    color: var(--primary-brand-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    word-spacing: 0;
}

.footer .logo {
    display: inline-block;
    margin-bottom: 16px;
} 

.footer .logo-span{
    color: var(--secondary-white-color);
}

.logo-span {
    color: var(--primary-black-color);
}

.nav .logo {
    margin-right: 76px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-link {
    color: var(--primary-black-color);
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current.nav-link {
    color: var(--secondary-brand-color);
}

.nav-link:hover,
.nav-link:focus {    
    color: var(--secondary-brand-color);
    outline: none;
}

.current.nav-link::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--secondary-brand-color);
    left: 0;
    bottom: -1px;
}
.nav-link:hover::after,
.nav-link:focus::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--secondary-brand-color);
    left: 0;
    bottom: -1px;
}

.address {
    font-style: normal;
}

.address-list {
    display: flex;
    gap: 40px;
}

.address-link {
    color: var(--secondary-black-color);
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    position: relative;
    color: var(--secondary-brand-color);
}

.hero-section {
    margin: 0 auto;
    background-color: var(--primary-black-color);
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), 
                    url("../images/people-office.jpg");
    padding: 188px 0;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.main-title {
    max-width: 496px;
    font-family: var(--font-family);
    color: var(--primary-white-color);
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.action-button {
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    display: block;
    border-radius: 4px;
    background-color: var(--primary-brand-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--primary-white-color);
    padding: 16px 32px;
    margin: 0 auto;
    border: none;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.action-button:hover,
.action-button:focus {
    background-color: var(--secondary-brand-color);
}

.section {
    padding: 120px 0;
}

.container {
    width: 1158px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    max-width: 1440px;
    min-height: 72px;
    padding: 0 15px;
}

.team-section {
    background-color: var(--secondary-white-color);
}

.pt-zero {
    padding-top: 0;
}

.pt-medium {
    padding-top: 96px;
}

.content-list {
    max-width: 1128px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.principles-item {
    width: 264px;
}

.sub-title {
    color: var(--primary-black-color);
    font-family: var(--font-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin: 0;
    margin-bottom: 8px;
}

.title {
    color: var(--primary-black-color);
    text-align: center;
    font-family: var(--font-family);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin: 0;
    margin-bottom: 72px;
}

.text {
    color: var(--secondary-black-color);
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin: 0;
}

.team-item {
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    background: var(--primary-white-color);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 
                0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
                0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    overflow: hidden;
}

.info-container {
    padding: 32px 0;
}

.footer {
    padding: 100px 0;
    background-color: var(--primary-black-color);
}

.footer .text {
    color: var(--secondary-white-color);
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    width: 264px;
}

.filters-list {
    width: 568px;
    margin: 0 auto;
    margin-bottom: 72px;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.filters-button {
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid var(--primary-accent-color);
    background-color: var(--secondary-white-color);
    color: var(--primary-brand-color);
    text-align: center;
    white-space: nowrap;
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-button:hover,
.filters-button:focus {
    color: var(--primary-white-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 
                0px 2px 1px 0px rgba(0, 0, 0, 0.08), 
                0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    border: 1px solid transparent;
    background-color: var(--secondary-brand-color);
}

.goods-list {
    row-gap: 48px;
}

.goods-link {
    overflow: hidden;
    position: relative;
    width: 360px;
    display: block;
    background-color: var(--primary-white-color);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.goods-link-info {
    padding: 32px 16px;
    border: 1px solid var(--primary-accent-color);
    border-top: none;
}

.goods-link-details {
    padding: 40px 32px;
    margin: 0;
    width: 360px;
    height: 300px;
    color: var(--secondary-white-color);
    background: var(--primary-brand-color);
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.goods-link:hover,
.goods-link:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
                0px 1px 1px 0px rgba(46, 47, 66, 0.16),
                0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.goods-link:hover .goods-link-details,
.goods-link:focus .goods-link-details{
    transform: translateY(0%);
}


.icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: var(--secondary-white-color);
    border-radius: 4px;
    margin-bottom: 8px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.social-icons-item {
    width: 40px;
    height: 40px;
}

.social-icons-link {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--primary-brand-color);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link:hover,
.social-icons-link:focus {
    background-color: var(--secondary-brand-color);
}

.social-icon {
    fill: var(--secondary-white-color);
}

.customers-title {
    margin-bottom: 72px;
}

.customers-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
}

.customers-link {
    width: 100%;
    height: 100%;
    border: 1px solid var(--gray-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
    border: 1px solid var(--secondary-brand-color);
    color: var(--secondary-brand-color);
}

.customers-logo {
    fill: currentColor;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.info-footer-container {
    margin-right: 120px;
}

.social-title {
    margin: 0;
    margin-bottom: 16px;
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: var(--primary-white-color);
}

.social-footer {
    gap: 16px;
}

.social-footer .social-icons-link:hover,
.social-footer .social-icons-link:focus {
    background-color: var(--green-color);
}


.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1050;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: #fcfcfc;
    
    padding: 72px 24px 24px 24px;
}

.modal-title {
    color: var(--primary-black-color);
    text-align: center;
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.modal-form-content {
    margin-bottom: 8px;
}

.modal-form-content:nth-child(4) {
    margin-bottom: 16px;
}
.modal-form-content:nth-child(5) {
    margin-bottom: 24px;
}

.modal-form-label {
    color: var(--gray-color);
    font-family: var(--font-family);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing:  0.04em;
    display: block;
    margin-bottom: 4px;
}

.input-wrapper {
    position: relative;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    padding: 8px 16px;
    resize: none;
}

.modal-form-input:focus {
    border-color: var(--primary-brand-color);
}

.modal-form-input:focus + .input-icon {
    fill: var(--primary-brand-color);
}

.input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-label {
    display: block;

    color: var(--gray-color);
    font-family: var(--font-family);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    
}

.checkbox-span {
    display: inline-flex;
    position: relative;
    top: 4px;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}

.checkbox:checked + .checkbox-label .checkbox-span {
    background-color: var(--secondary-brand-color);
    border: none;
    fill:  var(--secondary-white-color);
}

.checkbox-icon {
    width: 16px;
    height: 16px;
}

.privacy-link {
    color: var(--primary-brand-color);
    font-family: var(--font-family);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    padding-left: 3px;
}

.close-modal {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-accent-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.close-modal:hover,
.close-modal:focus {
    background-color: var(--secondary-brand-color);
    border: none;
}

.close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--primary-black-color);
}

.close-modal:hover .close-icon,
.close-modal:focus .close-icon {
    fill: var(--primary-white-color);
}

.goods-img {
    position: relative; 
    overflow: hidden;
}

.footer-form-container{
    margin-left: 80px;
}

.subscribe-form {
    display: flex;
    gap: 24px;
}

.subscribe-label {
    display: inline-flex;
    flex-direction: column;
    margin: 0;
}

.subscribe-input {
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid var(--primary-white-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 8px 16px;
    width: 264px;
    height: 40px;
    color: var(--primary-white-color);
    font-family: var(--font-family);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.48px;
}

.subscribe-input::placeholder {
    color: var(--primary-white-color);
    font-family: var(--font-family);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.48px;
}

.subscribe-button {
    min-width: 165px;
    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    gap: 16px;
    border-radius: 4px;
    background-color: var(--primary-brand-color);
    color: var(--primary-white-color);
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    border: none;
}

.subscribe-icon {
    margin-left: 16px;
}
